:css
  .reveal h1 {
    margin-bottom: 30px;
  }
  .reveal h3 li {
    margin-bottom: 10px;
  }
  .reveal h1, .reveal h3, .reveal p, .reveal li, .reveal .p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1)
  }
  .left-column {
    display: block;
    width: 50%;
    float: left;
  }
  .right-column {
    width: 50%;
    float: left;
  }
  .row {
    display: table;
    width: 100%;
  }
  .left {
    text-align: left !important;
  }
  ul.plain {
    list-style-type: none;
  }
  .reveal p, .reveal .p, ul.plain li {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .reveal li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .reveal pre {
    font-size: 24px;
  }

%section(data-background="./images/kid-jumping.svg" data-background-size="30%")
  %h2 LEAP Encryption Access Project

%section
  %h2 Federation
  %h3
    %ul
      %li user &rarr; provider &rarr; provider &rarr; user
      %li eg: SMTP, XMPP

%section
  %h2 Better federation
  %h3
    %ul
      %li The users should be protected from the provider.
      %li The provider should be protected from users.

%section
  %h2 What does<br/>LEAP do?
  %ol
    %li <b>LEAP Platform:</b><br/>a toolkit to make it easy for you to run a service provider.
    %li <b>New protocols:</b><br/>so that users don't need to trust the provider.
    %li <b>Bitmask client:</b><br/>a client that works smoothly with any compatible provider.

%section
  %h2 LEAP Platform
  %h3 Example: Setup 2-node VPN provider
  %pre
    %code.bash(data-trim)
      :preserve
        sudo gem install leap_cli
        leap new example --domain example.org
        cd example
        leap add-user --self
        leap cert ca
        leap cert dh
        leap cert csr
        leap node add blueberry services:openvpn \
             ip_address:1.1.1.1 openvpn.gateway_address:1.1.1.2
        leap node add raspberry services:couchdb,webapp \
             ip_address:1.1.1.3
        leap init node
        leap deploy

%section
  %h2 New Protocols
  %ul
    %li <b>Soledad:</b> searchable client-encrypted synchronized database.
    %li <b>Bonafide:</b> secure user registration, authentication, password change, etc.
    %li <b>Key management:</b> automated keylookup and validation.


%section
  %h2 Current Services: VPN
  %ul
    %li Route all your internet trafic through an encrypted channel.
    %li Prevent eavesdropping (thiefs in the public network, police, ...).
    %li Circunvent internet censorship.
    %li Prevent leaks (DNS, IPv6, ...).

%section
  %h2 Current Services: email
  %p
    %em Work in progress
  %ul
    %li End-to-end encryption using OpenPGP.
    %li Automatic key discovery and validation.
    %li Service provider has no access to user data.
    %li Strong protection for metadata, whenever possible.
    %li Cloud synchronized for high availability on multiple devices.

%section
  %h2 Bitmask client
  %h3 currently available for Android (VPN) and Linux (VPN + Email)
  %h3 Windows and Mac OS coming soon
  .left-column
    %img{src: "images/bitmask-icon.png", style:"height:296px; width: 296px" }
  .right-column
    %img{src: "images/bitmask-main-window.jpg" }

%section
  %h2 LEAP Webapp
  %p
  %ul
    %li API for user authentication
    %li Help Tickets
    %li User Management
    %li Payment processing

%section(data-background="./images/leap-webapp1.png" data-background-size="70%")
  %h2 .

%section(data-background="./images/leap-webapp2.png" data-background-size="60%")
  %h2 .

%section(data-background="./images/leap-webapp-tickets.png" data-background-size="60%")
  %h2 .


%section
  .left
    %ul.plain
      %li
        LEAP Encryption Access Project
      %li
        %a(href="https://leap.se") https://leap.se
    %p &nbsp;
    %ul.plain
      %li
        Bitmask App
      %li
        %a(href="https://bitmask.net") https://bitmask.net
